.table {
    border-collapse: collapse; 
}

.table tr {
    border-bottom: 0.5px solid black;
}

.table th {
    padding: 16px;
    font-weight: 400;
    text-align: left;
}

.heading {
    text-transform: uppercase;
    font-size: 1.547vw;
    font-weight: 500;
    letter-spacing: 5.792px;
    padding: 32px 0px;
}