.table {
    border-collapse: collapse; 
    width: 1%;
    white-space: nowrap;
}

.table tr {
    border-bottom: 0.5px solid black;
}

.table th {
    padding: 16px;
    font-weight: 400;
    text-align: left;
}

.heading {
    color: #F97F51;
    text-align: center;
    font-weight: 700;
    font-size: 3vw;
}