.table {
  border-collapse: collapse;
}

.table th {
  padding: 8px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
}

.table tbody th {
  text-transform: none;
}

.heading {
  text-transform: uppercase;
  font-size: 1vw;
  letter-spacing: 2.64px;
}

.bottomBorder {
  border-bottom: 0.5px solid #414141;
  margin-right: 100px;
  margin-left: 100px;
  width: 100%;
}

.link {
  display: flex;
  font-size: 1.2vw;
  border-radius: 28.406px;
  font-weight: 400;
  text-decoration: none;
  position: relative;
  text-decoration: none;
  color: black;
}

.link:hover {
  font-weight: 700;
}

.link::before {
  font-weight: 700;
}

@media only screen and (max-width: 800px) {
  .heading {
    font-size: 2vw;
  }

  .link {
    font-size: 3vw;
  }
}