.header a {
    color: #82589F;
    padding-right: 16px;
    font-weight: 700;
    text-decoration: none;
    padding: 0px 32px;
}

.header {
    text-align: center;
    position: sticky;
    float: top;
    top: 0;
    margin: 16px;
}
