.subTitle {
  font-size: 1vw;
  font-weight: 500;
  padding-top: 16px;
}

.description {
  font-size: 1vw;
  padding-top: 16px;
}

.title {
  text-transform: uppercase;
  font-size: 1vw;
  letter-spacing: 5.792px;
  text-decoration: none;
  color: black;
}

.title:hover {
  font-weight: 700;
}
