.heading {
  text-transform: uppercase;
  font-size: 2vw;
  letter-spacing: 2.64px;
  text-align: center;
}

.text {
  font-size: 1.2vw;
}

.mark {
  color: #3f2bb9;
  background: white;
  font-weight: 700;
}
