h1 {
  color: #F97F51;
  font-size: 4vw;
  margin: 8px 0px;
  text-align: center;
}

h4 {
  font-size: 2vw;
  color: #182C61;
  margin: 8px 0px;
  text-align: center;
}

body, html {
  height: 100vmin;
  margin: 0px;
  scroll-behavior: smooth;
}