h1 {
  color: #f97f51;
  font-size: 4vw;
  margin: 8px 0px;
  text-align: center;
}

h4 {
  font-size: 2vw;
  color: #182c61;
  margin: 8px 0px;
  text-align: center;
}

body,
html {
  height: 100vmin;
  margin: 0px;
  scroll-behavior: smooth;
}
