.profileImage {
  padding-right: 150px;
}

.aboutMeSection {
  position: relative;
  display: flex;
  align-Items: "center";
  padding: 0px 32px
}

.profileImageDiv {
  width: 300px;
  height: 300px;
}

@media only screen and (max-width: 800px) {
  .profileImageDiv {
    width: 200px;
    height: 200px;
  }
}

@media only screen and (max-width: 800px) {
  .profileImage {
    width: 200px;
    height: 200px;
    padding-right: 16px;
  }
}

@media only screen and (max-width: 800px) {
  .home {
    display: 'flex';
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }
}

.home {
  justify-content: center;
  display: 'flex';
  flex-direction: column;
  gap: 24px;
}

.aboutMe {
  color: #182C61;
  font-size: 14;
  margin: 8px 0px;
  text-align: left;
  font-weight: bold;
}

.aboutMeSection {
  display: 'flex';
  align-items: center;
  padding: 0px 180px;
}

@media only screen and (max-width: 800px) {
  .aboutMeSection {
    display: 'flex';
    align-items: center;
    padding: 0px 32px;
  }
}

.nameText {
  color: #F97F51;
  font-size: 64px;
  font-weight: bold;
  margin: 8px 0px;
  text-align: center;
}